@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@layer base {
    :root {
       --Background: white;
       --primary: #5B3636;
       --secondary: #8B6060;
       --heading-color: #333;
       --body-color: #666;
       --font-primary: 'Poppins', sans-serif;
       --font-secondary: 'Inter', sans-serif;

        /** Sizes **/

        --p: 1rem;
        --span: 0.75rem;
        --h1: 36px;
        --h2: 32px;
        --h3: 28px;
        --h4: 24px;
    }
}

@layer base{
    h1 h2 h3 h4{
        font-family: var(--font-primary); 
    }
    p a span div {
        font-size: var(--p);
        font-family: var(--font-secondary);
    }
}

.bg-primary {
    background-color: var(--primary);
}
.bg-secondary {
    background-color: var(--secondary);
}

.container {
    max-width: 1300px;
}

nav {
   background-color: #5B3636;
   font-family: var(--font-primary);;
    transition: all 0.3s ease-in-out;
  }
  
  nav ul li {
    transition: color 0.2s;
  }
  
  nav ul li:hover {
    color: #666;
  }
  

  .overlay {
    background-color: var(--primary);
    
}





